#Info-team-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.container{
    padding: 2rem;
}
.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#info-team{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

#team-title{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    align-items: center;
}

#team-title h2{
    margin-left: 1.5rem;
}

#logo-team img{
    width: 6rem;
    height: 6rem;
}

.color{
    background-image: url("../../../../assets/images/test.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 8rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    
}

.color2{
    background-color: rgb(33, 40, 253);
    height: 2rem;
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#team-title{
    color: white;
}
h6{
    font-size: 1.5rem;
}

.start1{
    display: flex;
    position: absolute;
}

.star1 a{
    text-decoration: none;
    color: black;
}

.star2{
    display: flex;
    position: absolute;
}

.star2 a{
    color: gold;
    text-decoration: none;

}
.seccion2{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.players h2{
    font-size: 5rem;
    color: rgba(49, 3, 95);
    margin-bottom: 5rem;
}
.cartas {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 100px; 
}

.card {
    width: 100%; 
    background-image: url("../../../../assets/images/fondo-champions.jpg");
    color: white;
}
.card:hover {
    transform: scale(1.05); 
    transition: transform 0.3s; 
}
.contenedor-carta{
    display: flex;
    justify-content: center;
}