#user-table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#user-table{
    width: 50%;
}

.delete{
    color: red;
}

h3{
    text-align: center;
    font-size: 3rem;
}