#user-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-size: 1.4rem;
}

#user-display{
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.username-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   /** margin-top: 2rem;*/
    background-image: url("../../../../assets/images/ucl-image-ultimatestage-gallery-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 15rem;
}

.username-img h3{
    margin-left: 1rem;
    color: white;
    font-size: 2.5rem;
}

.username-img a{
    margin-left: .5rem;
    color: white;
}

.username-img a:hover{
    color: blue;
}
.circle
  {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    background-color: orange;
    background-image: url("../../../../assets/images/defaultProfilePic.jpg");
    background-position: center;
    background-size: 6rem;
  }

  .user-information{
    color: red;
  }

  .cell-pad{
    padding: 1rem;
  }

  form, input{
    font-size: 1.5rem;
  }

  button, a{

    font-size: 1.2rem;
  }

  /*Responsive*/
  @media (max-width:991px){
    #user-display{
      width: 60%;
    }
  }

  @media (max-width:745px){
    #user-display{
      width: 80%;
    }
  }

  @media (max-width:400px){
    #user-display{
      width: 100%;
      margin: 0rem 0.5rem 0rem 0.5rem;
    }
  }