<!--<section id="table-container">
    <table class="table team-table">
        <thead>
          <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nombre del equipo</th>
            <th scope="col">Abreviación</th>
            <th scope="col">País</th>
            <th scope="col">Localidad</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let team of dataFromApi.response[0]">
            <td><img src="../../../../assets/logo/uefa.png" alt="Imagen random"></td>
            <td>{{team.team.name}}</td>
            <td>{{team.code}}</td>
            <td>{{team.team.country}}</td>
            <td>{{team.venue.city}}</td>
          </tr>
        </tbody>
      </table>
</section>-->