#table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botones{
    display: flex;
    margin-bottom: 5rem;
}
.botones button{
    font-size: 2rem;
}
.team-table{
    width: 100%;
}
.buscador{
    width: 30%;
    margin-bottom: 2rem;
}
.buscador input{
    font-size: 2rem;
}
.mensaje{
    margin-top: 5rem;
    margin-left: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
td img{
    width: 4rem;
    height: 4rem;
}
td a{
    text-decoration: none;
    color: black
}

th{
    font-size: 2rem;
    text-align: center;
}

td{
    font-size: 2rem;
    text-align: center;
}

.table-overflow{
    width: 80%;
    margin-bottom: 1rem;
}

@media (max-width:650px) {
    .table-overflow{
        width: 100%;
    }

    .buscador{
        width: 50%;
    }
}

@media (max-width:511px) {
    .table-overflow{
        overflow-x: scroll;
    }

    .botones{
        margin-bottom: 2rem;
    }
}