<main>
    <section>
        <h2 class="noticias-title">Noticias</h2>
        <div class="noticias">
            <div class="noti1">
                <a href="https://tntsports.com.ar/internacional/Con-doblete-de-Antoine-Griezmann-Atletico-de-Madrid-liquido-6-0-a-Celtic-20231107-0068.html" target="_blank">
                    <img src="../../../../assets/noticias/griezzman.jpg" alt="Foto de griezzman">
                    <div class="noti-text">
                        Griezzman lidera al Atletico de Madrid
                    </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://mexico.as.com/futbol/mexicanos-por-el-mundo/santiago-gimenez-en-el-equipo-de-la-semana-de-la-champions-league-n/" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/santigimenez.jpg" class="card-img-top" alt="Foto de Santi Gimenez">
                        <div class="card-body">
                          <p class="card-text">El mexicano Santi Gimenez en el equipo de la semana de Fantasy Football</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.diariouno.com.ar/ovacion/futbol/champions-league-mira-quienes-son-los-seis-ya-clasificados-los-octavos-final-n1245479" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/haaland.jpg" class="card-img-top" alt="Foto de Haaland">
                        <div class="card-body">
                          <p class="card-text">Mira quienes son los 6 equipos que ya clasificaron</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.90min.com/es/posts/cuando-es-el-sorteo-de-octavos-de-final-de-la-champions-league-2023-24" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/sorteo.jpg" class="card-img-top" alt="Foto de un partido">
                        <div class="card-body">
                          <p class="card-text">¿Cuando se realiza el sorteo de octavos?</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.infobae.com/espana/2023/11/10/luis-enrique-deja-otra-rueda-de-prensa-para-el-recuerdo-con-el-psg-no-voy-a-cambiar/" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/luisrenrique.jpg" class="card-img-top" alt="Foto de Luis Enrique">
                        <div class="card-body">
                          <p class="card-text">Rueda de prensa de Luis Enrique luego de perder ante el Milan</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti1">
                <a href="https://www.tycsports.com/champions-league/nico-paz-debut-real-madrid-pedido-ancelotti-destino-camiseta-id546586.html" target="_blank">
                    <img src="../../../../assets/noticias/nicopaz.jpg" alt="Foto de nico paz">
                    <div class="noti-text">
                        Nico Paz hizo su debut soñado en un partido de Champions
                    </div>
                </a>
            </div>
            <div class="noti1">
                <a href="https://www.infobae.com/deportes/2023/11/07/la-agenda-completa-de-la-jornada-de-champions-league-con-la-presentacion-de-manchester-city-barcelona-y-psg/" target="_blank">
                    <img src="../../../../assets/noticias/golesjornada.jpg" alt="Foto de haaland corriendo una pelota">
                    <div class="noti-text">
                       Mira todos los goles de la jornada 4
                    </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.infobae.com/america/agencias/2023/11/08/1-0-el-psv-renace-en-la-champions/" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/psv.jpg" class="card-img-top" alt="Foto del PSV">
                        <div class="card-body">
                          <p class="card-text">El PSV renace ganando 1-0</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://tntsports.com.ar/internacional/Bayern-Munich-gana-2-1-a-Galatasaray-con-doblete-de-Harry-Kane-20231108-0090.html" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/bayern.jpg" class="card-img-top" alt="Foto de Sane">
                        <div class="card-body">
                          <p class="card-text">En un partido peleado gano el Bayern 2-1 frente al Galatasaray</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://espndeportes.espn.com/futbol/champions-league/nota/_/id/12843219/manchester-united-copenhagen-resumen-goles-rashford-expulsion-derrota" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/manunited.jpg" class="card-img-top" alt="Foto del United">
                        <div class="card-body">
                          <p class="card-text">Manchester United complicado para la clasificacion</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.lanacion.com.ar/deportes/futbol/borussia-dortmund-vencio-por-2-0-a-newcastle-united-como-local-en-la-champions-league-nid07112023/" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/borussia.jpg" class="card-img-top" alt="Foto del borussia">
                        <div class="card-body">
                          <p class="card-text">El Dortmund gano en el grupo de la muerte </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti1">
                <a href="https://www.marca.com/futbol/champions-league/cronica/2023/11/08/654bd558e2704ee35f8b4581.html" target="_blank">
                    <img src="../../../../assets/noticias/lautaro.jpg" alt="Foto de Lautaro Martinez">
                    <div class="noti-text">
                        Lautaro Martinez mete al inter en octavos
                    </div>
                </a>
            </div>
            <div class="noti1">
                <a href="https://www.ole.com.ar/futbol-internacional/benfica-visita-real-sociedad-mantenerse-vida-champions_0_ZCwPbWMKAw.html" target="_blank">
                    <img src="../../../../assets/noticias/otamendi.jpg" alt="Foto de otamendi">
                    <div class="noti-text">
                        Quedo afuera el Benfica tras perder contra la Real Sociedad
                    </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.tycsports.com/champions-league/pepe-record-historico-porto-champions-league-id543503.html" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/pepe.jpg" class="card-img-top" alt="Foto de Pepe">
                        <div class="card-body">
                          <p class="card-text">Record historico de Pepe en Champions</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://as.com/futbol/champions/lazio-feyenoord-en-directo-champions-league-en-vivo-n/" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/ciro.jpg" class="card-img-top" alt="Foto de Inmobile">
                        <div class="card-body">
                          <p class="card-text">Ciro Inmobile le da la victoria a la Lazio</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://www.infobae.com/noticias/2023/11/07/napoli-recibira-a-union-berlin-por-la-fecha-4-del-grupo-c/" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/napoli.jpg" class="card-img-top" alt="Foto de Napoli 1-1 Union Berlin">
                        <div class="card-body">
                          <p class="card-text">Napoli empata a uno con Union Berlin</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti2">
                <a href="https://espndeportes.espn.com/futbol/champions-league/nota/_/id/12843555/champions-league-fase-grupos-fecha-4-clasificados-resumen" target="_blank">
                    <div class="card">
                        <img src="../../../../assets/noticias/clasi.jpg" class="card-img-top" alt="Foto del Madrid">
                        <div class="card-body">
                          <p class="card-text">Clasificados y desesperados. </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="noti1">
                <a href="https://www.directvsports.com/futbol/Barcelona-perdio-ante-Shakhtar-Donetsk-y-desperdicio-la-oportunidad-de-clasificar-a-los-octavos-de-la-UEFA-Champions-League-20231107-0040.html" target="_blank">
                    <img src="../../../../assets/noticias/barcelo.jpg" alt="Foto de Lewandowski">
                    <div class="noti-text">
                        Barcelona perdio frente el Shakhtar
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>