
<section class="form-container">
    <form class="form-visuals">
        <div class="mb-3">
          <label for="usuario" class="form-label fs-3">Nombre de usuario</label>
          <input type="text" class="form-control fs-3" id="usuario">
        </div>
        <div class="mb-3">
          <label for="contraseña" class="form-label fs-3">Contraseña</label>
          <input type="password" class="form-control fs-3" id="contraseña">
        </div>
        <button type="submit" class="btn btn-primary fs-3">Iniciar Sesion</button>
      </form>
</section>