<header>
    <nav class="navbar navbar-expand-lg fs-3" style="background-color: rgb(0, 0, 50);">
        <div class="container-fluid">
            <a routerLink="/home"><img src="../../../../assets/logo/football-ball.png" alt="" class="logo"></a>
            <a class="navbar-brand text-light fs-2" href="https://es.uefa.com/uefachampionsleague/">UEFA.com</a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-4" aria-current="page" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-4" aria-current="page" routerLink="/home">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-4" aria-current="page" routerLink="/calendario">Calendario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-4" aria-current="page" routerLink="/grupos">Grupos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-4" aria-current="page" routerLink="/test">Estadisticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-4" aria-current="page" routerLink="/noticias">Noticias</a>
                    </li>
                    <li *ngIf="user != undefined">
                        <h4>{{user.username}}</h4>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light fs-4" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class= "nav-link text-light fs-4" routerLink="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>