.nav-item{
    margin-left: 3rem ;
    margin-right: 3rem ;
}
.nav-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-container{
    color: white;
}
.nav-item-hover {
    transition: transform 0.3s ease;
}

.nav-item-hover:hover {
    transform: scale(1.1); /* Ajusta el factor de escala según tus preferencias */
}