/* You can add global styles to this file, and also import other style files */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background: rgb(224, 224, 224) !important;
}

.logo{
    height: 50px;
}

