/* You can add global styles to this file, and also import other style files */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background: none;
}

.logo{
    height: 70px;
    margin-right: 2rem;
}

.navbar{
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(216, 207, 207);
}
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.form-visuals{
    background-color:rgba(49, 3, 95, 0.685);
    padding: 2rem;
    width: 40%;
    color: white;
}

/*
.barra-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;     Para futura barra de navegacion
    padding-bottom: 2rem;
}
.barra-busqueda form{
    width: 30%;
}*/
