<main>
    <section class="seccion">
        <h2>Momentos Destacados</h2>
        <div class="momentos-destacados">
            <div class="moment">
                <a
                    href="https://tntsports.com.ar/internacional/Con-doblete-de-Erling-Haaland-Manchester-City-derroto-a-Young-Boys-20231025-0087.html">
                    <img src="../../../../assets/images/haaland.jpg" alt="Foto de Haaland">
                    <p>Doblete de Haaland para la victoria de los ciudadanos</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://tntsports.com.ar/internacional/Con-doblete-de-Erling-Haaland-Manchester-City-derroto-a-Young-Boys-20231025-0087.html">
                    <img src="../../../../assets/images/haaland.jpg" alt="Foto de Haaland">
                    <p>Doblete de Haaland para la victoria de los ciudadanos</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://tntsports.com.ar/internacional/Con-doblete-de-Erling-Haaland-Manchester-City-derroto-a-Young-Boys-20231025-0087.html">
                    <img src="../../../../assets/images/haaland.jpg" alt="Foto de Haaland">
                    <p>Doblete de Haaland para la victoria de los ciudadanos</p>
                </a>
            </div>
        </div>
    </section>
    <section class="seccion2">
        <h2>ACA VAN VIDEOS DE GOLES</h2>
    </section>
    <footer>

    </footer>
</main>