<main>
    <section class="seccion">
        <h2>Momentos Destacados</h2>
        <div class="momentos-destacados">
            <div class="moment">
                <a
                    href="https://www.espn.com.ar/futbol/champions-league/nota/_/id/12839168/manchester-city-young-boys-goles-haaland-clasifico-octavos" target="_blank">
                    <img src="../../../../assets/images/haaland.jpg" alt="Foto de Haaland">
                    <p>Doblete de Haaland para la victoria de los ciudadanos</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://www.tycsports.com/champions-league/fc-copenhague-vs-manchester-united-en-vivo-hora-donde-ver-y-formaciones-id546073.html" target="_blank">
                    <img src="../../../../assets/images/united.jpg" alt="Foto del partido del united">
                    <p>Al Manchester United se lo dieron vuelta sobre el final</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://as.com/futbol/champions/real-madrid-braga-en-directo-champions-league-hoy-en-vivo-n/" target="_blank">
                    <img src="../../../../assets/images/madrid.jpg" alt="Foto del Madrid">
                    <p>Victoria aplastante del Madrid contra al Braga</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://www.ole.com.ar/futbol-internacional/shakhtar-donetsk-equipo-nomade-gano-barcelona-champions-league_0_4n50taV8JE.html" target="_blank">
                    <img src="../../../../assets/images/barcelona.jpg" alt="Foto de Gundogan">
                    <p>Derrota del Barca frente al Shaktar</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://www.ole.com.ar/futbol-internacional/benfica-visita-real-sociedad-mantenerse-vida-champions_0_ZCwPbWMKAw.html" target="_blank">
                    <img src="../../../../assets/images/benfica.jpg" alt="Foto de Di Maria">
                    <p>Gran victoria de la Real Sociedad deja afuera de la competicion al Benfica</p>
                </a>
            </div>
            <div class="moment">
                <a
                    href="https://www.mundodeportivo.com/us/futbol/champions-league/20231107/667384/milan-vs-psg-champions-league-resultado-marcador.html" target="_blank">
                    <img src="../../../../assets/images/milan1.jpg" alt="Foto del Milan">
                    <p>El Milan le gana por la minima al PSG</p>
                </a>
            </div>
        </div>
    </section>
    <section class="seccion2">

        <h3>Mejores Goles</h3>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/PZh2n5PijOk?si=TAeBhGtaMkmvony6" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/l8iJjtFSwC0?si=y_R6VfmjeAOaHMut"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q8VO8WsjS1c?si=i6DVfvTnn9M1fnN6"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bI4UONk5MXc?si=DL8nyBa9PkYjf-VR"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ODvFk-IEu1c?si=wfepJHsvHtDNyufm"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sx2ZK3_WQUA?si=KYboMHs0XpYxw312"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UguNWqFKBrM?si=BtLMC_Aj0ROBFeMz"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/C-7b18FZ4q8?si=kIQ8ry-pi73y4v_a"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button  class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>